@import url('https://fonts.googleapis.com/css?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html, body {

}

#authform {
  margin: auto;
  margin-top: 100px;
}

#recaptcha-container {
  align-items: center;
  text-align: center;
  align-self: center;
  position: relative;
  float: center;
  margin: auto;
  width: 60%;
  justify-content: center;
  margin-top: 100px;
}

.pagelogo {
  font-family: "Poppins";
  color: green !important;
}

form {
  align-items: center;
  text-align: center;
  margin: auto;
}

.central {
 align-items: center;
}

.navlink {
  float: left;
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  min-width: 20px;
  text-align: center;
  font-size: 12px;
  height: 100%;
  height: 18px;
  transition: all 0.15s;
  cursor: pointer;
  border-radius: 500px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */

}

.dropdown {
  background-color: black;
  border: solid 1px white;
  position: fixed !important;

  transition: all 0.25s;
  top: 300;
  padding: 0px;
  margin-top: 60px;
  z-index: 9;
}

.dropdownclosed {

  top: -100%;
  position: fixed;
  transition: all 1s;
  background-color: black;
  border: solid 1px white;
}

#dropdown {

}


.dropdown ul li {
  border: solid 1px green;
}


.listdown {
  list-style: none;
  list-style-position: inside;
  margin: 0px;
  margin-left: 5px;
  padding: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}

.navlink:active{
  background-color: rgb(11,11,11) !important;
  box-shadow: none !important;
}

.navright {

  margin: 0px;
  display: inline-block;

  float: right;

}


.active {
  background-color: #111 !important;
  box-shadow: none !important;

}

.navlink:hover{
  background-color: rgb(40,40,40);
  box-shadow: 0px 0px 2px 0px black;
}

.navincomplete {
  color: grey;
}


.homecard {
  padding: 20px;
  margin: 35px 20px;
  margin-top: 10px;
}

.logcard {

  border-radius: 10px;

  text-align: left;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 70px;
  width: 300px;
  height: 250px;
  padding: 30px;
  background-color: grey;

  box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.2);


}

.logcard input {

  margin-bottom: 5px;
  padding: 10px 10px;

  width: 250px;
  text-align: left;
}

.logcard button {
  width: 250px;

  margin: 5px 0px;
}

.logcard h1 {
  color: black !important;
  text-align: center;
}

.appcard {
  margin: 50px;
  margin-top: 80px;
  padding: 20px;

  border-radius: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(23,23,23, 0.5);
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  height: 80%;
}



.username {

  color: orange;
  font-weight: bold;
}

.smallbuttons {
  font-family: 'Open Sans Condensed', sans-serif;
}

.upgradecard {
  margin: 100px;
  align-self: center;
  border: solid 1px rgb(90, 90, 90);
  text-align: center;
  padding: 40px;
  border-radius: 8px;
  background-color: rgba(20,20,20, 1);
  box-shadow: 0px 0px 25px 10px rgba(10,10,10,0.1);
}

.bosscard {
  box-shadow: 0px 0px 25px 10px rgba(10,10,10,0.4);
  display: inline-block;
  margin: 20px;
  height: 250px;
  width: 150px;
  cursor: pointer;

  background-color: rgba(40,50,60,0.5);
  border-radius: 10px;
  padding: 50px;
  transition: all 0.07s;
}

.bosscard:hover {
  background-color: rgba(60,70,80,0.5);

  transform: translateY(-1rem);
}

.amounter {
  color: black;
  background-color: grey;
  font-size: 30px;
  width: 200px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 8px;
  padding: 20px;


}

.paybutton {
  width: 300px;
  margin: auto;

}

.value {
  transition: all 0ms;
  color: white;
}

.uptick {
  transition: all 500ms;
  color: green;
}

.downtick {
  color: red;
}

.widget {
  margin: 50px 25px;
  padding: 20px;
  background-color: rgb(23,23,23);
  width: 300px;

}

.smarties {
  border-radius: 500px;
}

.scrolly {
  width: 200px;
  height: 100px;
  background-color: forestgreen;
  overflow-y: scroll;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.redlist {
  color: red;
  font-weight: 800;
}

.instances {

  background-color: teal;
  padding: 2px 10px;
  border-radius: 4px;


}


.navbarprofilepic {

  z-index: 500;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 400px;
  margin: 0px;

    box-shadow: 0px 0px 3px 0px black;
  background: none;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}


.navbarlogo {
  margin-top: 5px;

  margin-left: 25px;
  margin-right: 14px;
  height: 15px;
  float: left;

}

#navlogotext {
  font-family: "Poppins";

  text-decoration: none;
  font-weight: 800;
}

.homeinactive {
  color: white;
  transition: all 100ms;
}

.homeactive {
  color: rgb(15,15,15);
}

.navdp {
  z-index: 509;
  max-height: 30px !important;
  padding: 0px;
  border-radius: 500px;
  margin-right: 4px;
  margin-top: 3px;

}

.modalbuttonwrap {
  position: relative;

}

.modalbutton {

  margin-top: 8px;

  margin-right: 20px;
  cursor: pointer;
}

.modalbutton:hover {
  color: orange;
}

.rightmodal {
  height: 200px;
  position: fixed;
  top: 90px;
  right: 25px;
  border: solid 1px forestgreen;
}

.rightmodalclosed {
  display: none;
}

.navdp:hover {
  background-color: none;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
}

.navdp:active {
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
}

.navdpactive {
  /* display: none; */
  background-color: none;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.6);
}

.navemail {
  padding: 10px 14px;
  color: white;
  text-decoration: none;
  min-width: 20px;
  text-align: center;
  font-size: 12px;
  height: 100%;
  height: 18px;
}

.user-profile {
  border: solid 1px red;
  padding: 25px;
}


.profilepicture {
  display: inline-block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 400px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  border: solid 2px white;
  box-shadow: 0px 0px 20px 0px black;
  cursor: pointer;
}

.profilepicturewrap {
  display: inline-block;
  border-radius: 500px;
  margin-left: 0px;
  float: left;
  border: solid 1px green;

}

.editprofilebutton {
  cursor: pointer;
  float: right;
}

.user-metadata {

  /* display: inline-block; */
  display: block;
  /* position: relative; */
  margin-top: 0;
  width: 250px;
  float: left;
  margin-left: 20px;
  padding: 20px;
  background-color: rgba(0,0,0,0.2);
  border: solid 1px gold;

}

.user-name {
  font-weight: 800;
}

.bio {
  font-size: 12px;
  margin-top: 5px;
  padding-top: 20px;
  border: solid 1px orange;
}

.fields {
  display: inline-block;
  margin-top: 30px;
  text-align: center;
  float: left;
  border: solid 1px red;
}

.change-details {
  /* display: inline-block; */
  display: grid;
  margin-top: 30px;
  margin-left: 50px;
  border: solid 1px green;
}

.ui-button {
  border-radius: 500px;
  padding: 5px;
  border: solid 1px black;
  background-color: grey;
  cursor: pointer;
}

.text-left {
  float: left;
}

.text-right {
  float: right;
  text-decoration: none;
  color: white;
}

.loading {
  text-align: center;
}

.dpdiv {
  margin-top: 20px;
  border: solid 1px teal;
  background-color: rgba(0,40,100,0.5);
  text-align: left;
}

.dpdiv form {
  text-align: left;
  align-items: left;
  /* margin: auto; */
}

.edit-state {
  border: solid 1px blue;
  /* display: block; */
}


@keyframes gradient {
	0% {
		background-position: 0%;
	}
	50% {
		background-position: 50%;
	}
	100% {
		background-position: 100%;
	}
}
